<ion-header>
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
          <strong>App Name:&nbsp;</strong> Kitooke Collections Admin
      </ion-item>
      <ion-item>
          <strong>Version:&nbsp;</strong> 1.0.0
      </ion-item>
      <ion-item>
          <strong>Author:&nbsp;</strong> Bright Kanyange
      </ion-item>
      <ion-item>
          <strong>Description:&nbsp;</strong> 
          <p padding>This app helps manage the kitooke 
          collections ecommerce application</p>
      </ion-item>
    </ion-list>

</ion-content>
